Package: nativecam
Version: 0:0.0.9
Architecture: all
Maintainer: Fernand Veilleux <fernveilleux@gmail.com>
Installed-Size: 4982
Depends: python (>= 2.7), python-lxml
Recommends: linuxcnc | linuxcnc-uspace
Section: misc
Priority: extra
Description: Conversational programming for LinuxCNC
 Requires LinuxCNC with support for auxiliary examples
 and auxiliary gladevcp applications.
 To check for availability, run the script:
 $ linuxcnc_var all # if Run-in-place, source rip-environment first
 When available, expected systme directories are:
 LINUXCNC_AUX_GLADEVCP=/usr/share/linuxcnc_aux_gladevcp
 LINUXCNC_AUX_EXAMPLES=/usr/share/linuxcnc_aux_examples
